/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/



/******************************************
/* LAYOUT
/*******************************************/
@media (min-width:1056px) {
  
  header {
    background: rgb(106, 136, 142);
    float: left;
    width: 100%;
    height: 20%;
    color: white;
    padding: 0 10%;
  }
  main{
    background: rgb(106, 136, 142);
    text-align: center;
    
    color: white;
    padding: 10%;
  }
  main h1{
    font-size: 3rem;
  }
  header nav *{
    list-style: none;
    padding: 0 1%;
    width: 10%;
  }
  nav ul{
    width: 100%;
  }
  nav ul li{
    width: 25%;
    float: left;
  }
  nav ul li button{
    width: 40%;
  }
  .section1{
    text-align: center;
    clear: both;
  }
  .section2{
    background: lightgrey;
  }
  .section2 section{
    width: 50%;
    float: left;
    text-align: center;
  }
  .section3{
    text-align: center;
  }
  footer{
    width: 100%;
    padding: 0 20px;
    background: rgba(52, 51, 49, 0.689);
  }
  footer > section{
    width: 50%;
    float: left;
    padding: 50px  0;
  }
  footer > section span{
    display: block;
  }
  footer > section + section {
    padding: 0;
  }
  footer > section + section *{
    float: right;
    display: block;
  }
  hr{
    clear: both;
  }
  footer > nav *{
    display: inline;
  }
  footer > nav img{
    float: right;
  }
}
/*******************************************/
@media (min-width:680px) {
  header {
    background: rgb(106, 136, 142);
    float: left;
    width: 100%;
    height: 20%;
    padding: 0 10%;
    color: white;
  }
  main{
    background: rgb(106, 136, 142);
    text-align: center;
    
    color: white;
    padding: 10%;
  }
  main h1{
    font-size: 3rem;
  }
  header nav *{
    list-style: none;
    padding: 0 1%;
    width: 10%;
  }
  nav ul{
    width: 100%;
  }
  nav ul li{
    width: 25%;
    float: left;
  }
  nav ul li button{
    width: 60%;
  }
  .section1{
    text-align: center;
    padding: 10%;
  }
  .section2 section{
    width: 50%;
    float: left;
    text-align: center;
    background: lightgrey;
    padding: 10%;
  }
  .section3{
    clear: both;
    text-align: center;
    padding: 10% 10%;
  }
  footer{
    width: 100%;
    padding: 0 20px;
    background: rgba(52, 51, 49, 0.689);
  }
  footer > section{
    width: 50%;
    float: left;
    padding: 50px  0;
  }
  footer > section span{
    display: block;
  }
  footer > section + section {
    padding: 0;
  }
  footer > section + section *{
    float: right;
    display: block;
  }
  hr{
    clear: both;
  }
  footer > nav *{
    display: inline;
  }
  footer > nav img{
    float: right;
  }
}

@media (max-width:680px){
  nav{
    display: none;
  }
  main{
    background: rgb(106, 136, 142);
    text-align: center;
    font-size: 1.2rem;
    color: white;
    padding: 5%;
  }
  header{
    background: rgb(106, 136, 142);
    text-align: center;
  }
  .section1, .section2, .section3{
    text-align: center;
    padding: 5%;
  }
  .section2{
    background: lightgrey;
  }
  footer{
    width: 100%;
    padding: 0 5%;
    background: rgba(52, 51, 49, 0.689);
  }
  footer > section{
    width: 50%;
    float: left;
    padding: 50px  0;
  }
  footer > section span{
    display: block;
  }
  footer > section + section {
    padding: 0;
  }
  footer > section + section *{
    float: right;
    display: block;
  }
  hr{
    clear: both;
  }
  footer > nav *{
    display: inline;
    clear: both;
  }
  footer > nav img{
    clear: both;
    float: right;
  }
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
